.green {
	background-color:#d7edaf;
}
.red {
	background-color:#fcc4c2;
}
.white {
	background-color:#fff;
}
.mthInfo {
	margin:0px 0px; 
	ine-height: 90%;
}
.separator {
	width:7px; 
	background-color:#fff;
}

body {
	background-color:grey;
	font-family: Arial,sans-serif; 
	font-size:11pt;
	margin:55px 0 0 0;
}
h3 {
      margin: 0px;
}
h2 {
      margin: 0px;
}
ul	{
	margin-top:5px;
}

p {
	margin:3px 0px;
}


.topBar {
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 999;
  	width: 100%;

	background-color: #fff;
	height: 38px;
	padding: 4px 0px;

	text-align: center;
	line-height:38px;
	font-size: 16pt;
	font-weight: bold;

	border-bottom:2px solid grey;
	box-shadow: 0px 5px 5px grey;


}
.card {
	max-width: 500px;
	margin:35px auto 0px auto;
	background-color: #eaeaea;
	border:1px solid #888888;

}

.cardTitle { 
	padding:10px 6px 6px 6px; 
	text-align: center; 
	color:#fff; 
	font-variant: small-caps; 
	text-shadow: 1px 1px #6f8c2c;
	
}

.cardText {
	padding:0 12px;
}

.green {
	background-color: #95bc3d;
	border-bottom:2px solid #578c3f; 
}

.blue { 
	background-color: #0da4ba; 
	border-bottom: 3px solid #046c87;
}

.container
{	
	max-width: 1100px;
	margin:0 auto; 
	background-color: #a5b6d3;

}
/*Margin by pixel:*/
@media screen and ( max-width: 500px ){
    .container{
        margin:0 3%;
    }
}
