body {
	background-color:#535456;
	font-family: Arial,sans-serif; 
	font-size:12pt;
	margin:62px 0 0 0;
}

p {
	line-height: 1.6;
}

.card {
	width: 600px;
	margin: auto;
	background-color: white;
	padding: 20px;
	border: solid 1px #424344;
	border-radius: 5px;
	margin-bottom:40px;
	box-shadow: 4px 4px 4px #222222;
}

.header {
	border-radius: 3px;
	padding: 6px 14px;
	font-size: 14pt;
	font-weight: bold;
	color: white;

}

.red {background-color: #c45058;}
.blue {background-color: #3b77d6;}
.orange {background-color: #e2a146;}
.green {background-color: #60b253;}
