body {
	background-color:#c9c9c9;
	font-family: Arial,sans-serif; 
	font-size:11pt;
	margin:62px 0 0 0;
}
h3 {
      margin: 0px;
}
h2 {
      margin: 0px;
}
ul	{
	margin:0 0 3px 0;

}
p {
	margin:6px 0px 4px 0px;
}

i {
	font-size:25px; 
	font-weight: bold; 
	padding-right: 6px;
}

.topBar {
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 1;
  	width: 100%;

	background-color: #f2f2f2;
	height: 38px;
	padding: 4px 0px;

	/*text-align: center;*/
	line-height:38px;
	font-size: 16pt;
	font-weight: bold;

	border-bottom:1px solid grey;
	box-shadow: 0px 3px 4px grey;
}

.title {
	text-align: center;
	font-size:28px;
	overflow:hidden;
	padding-right:45px;
	
}

.menuButton {
	float:left;
}

.card {
	max-width: 500px;
	margin:15px auto 30px auto;
	background-color: #fafafa;
	border:1px solid #888888;
	border-radius:4px;
	padding:0 0 0px 0;
	box-shadow: 3px 3px 5px grey;
}

.cardTitle { 
	padding:10px 6px 6px 6px; 
	border-radius:3px 3px 0 0;
	text-align: center; 
	color:#fff; 
	font-variant: small-caps; 
	text-shadow: 1px 1px #6f8c2c;
	
}

.cardText {
	padding:10px 12px;
}

.green {
	background-color: #95bc3d;
	border-bottom:3px solid #578c3f; 
}

.blue { 
	background-color: #0da4ba; 
	border-bottom: 3px solid #046c87;
}

.purple {
	background-color: #886886; 
	border-bottom: 3px solid #690075;
}

.red {
	background-color: #f55f4c; 
	border-bottom: 3px solid #cb1a0c;
}

.yellow {
	background-color: #ffd13a; 
	border-bottom: 3px solid #faac05;
}

.cList {
	max-width: 500px;
	margin:3px auto 0px auto;
	/*width: 100%; #f7f7f7*/
	background-color: #f7f7f7; 
	color: #808080; 
	font-family: Arial, sans-serif;
    padding: 16px 14px; 
    font-weight: normal; 
    font-size: 20px; 
    border-bottom: 1px solid #5b5b5b;

     -webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s;
}

div.cList:focus {
	background-color: blue; 
}


.cIcon {
	height: 50px;
	margin: 0px;
	padding: 0px;	
	float: left;
	color: #009aed;
	/*background-color: purple;*/
	border: 0px solid red;
}

/*
.cTextBox {
	height: 50px;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	background-color: yellow;
}

.cTextTop {
	height: 28px;
	margin: 0px;
	padding: 0px;
	background-color: red;
}

.cTextBottom {
	height: 22px;
	margin: 0px;
	padding: 0px;
	background-color: yellow;
	font-size: 16px;
}

*/

.cMessageShort {
	display: block;
	overflow: hidden;
	white-space:nowrap;
	padding: 5px 0 0 0;
	/*background-color: yellow;*/
	font-size: 16px;
}

.cDate {
	float:right;
	font-size: 16px;
}






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    white-space: nowrap;

    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}





.container
{	
	max-width: 1100px;
	margin:0 auto; 
	/*background-color: #a5b6d3;*/

}

.container a {
	text-decoration: none;
}
/*Margin by pixel:*/
@media screen and ( max-width: 500px ){
    .container{
        margin:0 3%;
    }
}
