body {
	/*background-color:#535456;*/
	background-color: #606060;

	/*background: linear-gradient(rgba(100, 100, 110, 0.7), rgba(141, 141, 141, 0.0)), url("https://asj3.github.io/backm.png");*/
	/*box-shadow: inset 0px 0px 280px #333;*/

	font-family: Arial,sans-serif; 
	font-size:11pt;
	margin:70px 0 0 0;
}

h3 {
	text-transform: uppercase;
	font-size: 16px;
	margin: 0px 25px;
}

p {
	margin: 6px 25px 6px 25px;
}

.green {
	background: rgb(151,219,113);
	background: linear-gradient(90deg, rgba(151,219,113,1) 0%, rgba(171,230,139,1) 50%, rgba(219,245,202,1) 100%);

}

.brightBlue {	
	background: rgb(127,204,246);
	background: linear-gradient(90deg, rgba(127,204,246,1) 0%, rgba(180,233,249,1) 50%, rgba(233,247,254,1) 100%);
}

.blue {
	background: rgb(184,219,235);
	background: linear-gradient(90deg, rgba(179,222,241,1) 0%, rgba(191,229,246,1) 50%, rgba(235,247,252,1) 100%);
}

.red {
	background: rgb(212,113,113);
	background: linear-gradient(90deg, rgba(212,113,113,1) 0%, rgba(228,164,164,1) 50%, rgba(249,229,229,1) 100%);
}

.topBar {
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 1;
  	width: 100%;

	background-color: #262626;

	height: 50px;
	padding: 0px 0px;

	/*text-align: center;*/
	line-height:38px;
	font-size: 16pt;
	font-weight: bold;

	border-bottom:1px solid #535456;
	box-shadow: 0px 3px 3px #535456;
}

.sideButton {
	background-color: #262626;
	width: 42px;
	height:29px;
	margin:3px 10px;
	padding: 13px 0px 0px 0px;
	border: 1px solid #262626;
	border-radius: 2px;
	cursor: pointer;
}

.burgerBar {
	background-color: #f9f9f9;
	height:3px;
	margin: 0px 8px 4px 8px;
	border: 0px solid #f9f9f9;
}

.arrowLeft {
  border: solid red;
  /*background-color: green;*/
  border-width: 0px 5px 5px 0px;
  border-top-color: #262626;
  border-right-color: #f9f9f9;
  border-bottom-color: #f9f9f9;
  border-left-color: #262626;
  width: 12px;
  height: 12px;
  padding: 0px;
  margin: 0px 0px 0px 13px;

  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    white-space: nowrap;

    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.clickable {
	cursor: pointer;
}

.capsule {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 24px;
	background-color: white;
	padding: 0px;
	border: solid 1px #424344;
	border-radius: 5px;
	
	box-shadow: 3px 3px 5px #444;
}

.hidden {
	display: none;
}

.cTop {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	/*background-color: #EBF7FC;*/
	padding: 11px 0px 8px 0px;
	/*border-top: solid 1px #424344;
	border-right: solid 1px #424344;
	border-left: solid 1px #424344;*/
	border-radius: 4px 4px 0px 0px;
}

.cBottom {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: white;
	padding: 8px 0px 8px 0px;
	/*border-bottom: solid 1px #424344;
	border-right: solid 1px #424344;
	border-left: solid 1px #424344;*/
	border-radius: 0px 0px 5px 5px;
}

.cardTop {
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	/*background-color: #EBF7FC;*/
	background: rgb(184,219,235);
	background: linear-gradient(90deg, rgba(179,222,241,1) 0%, rgba(191,229,246,1) 25%, rgba(235,247,252,1) 100%);
	padding: 7px 45px 4px 45px;
	border-top: solid 1px #424344;
	border-right: solid 1px #424344;
	border-left: solid 1px #424344;
	border-radius: 5px 5px 0px 0px;
	/*
	
	
	margin-bottom:40px;
	box-shadow: 4px 4px 12px #444;*/
}

.cardBottom {
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: white;
	padding: 5px 45px 5px 45px;
	border-bottom: solid 1px #424344;
	border-right: solid 1px #424344;
	border-left: solid 1px #424344;
	border-radius: 0px 0px 5px 5px;
	margin-bottom:40px;
	/*box-shadow: 4px 4px 12px #444;*/
}

.nav {
	position:absolute;
	top: 20px;
	left: 20px;
	width: 20px;
	height: 20px;
	background-color: blue;
	border: solid 1px #424344;
	border-radius: 5px;
}

.detailsCardOLD {
	width: 390px;
	height: 500px;
	padding: 45px 45px;
	border: solid 1px #424344;
	border-radius: 5px;
	margin-bottom:40px;
	box-shadow: 4px 4px 12px #444;
	background-color: #f2f2f2;
	position: absolute;
  	left: 0px;
  	right: 0px;
  	margin: auto;
  	top: 50px;
  	z-index: 1;
  	display: none;
}


.detailsCard {
	max-width: 500px;
	margin: auto;
	background-color: white;
	height: 150px;
	padding: 0px;
	border: solid 1px #424344;
	border-radius: 5px;
	margin-bottom:40px;

	box-shadow: 4px 4px 12px #444;
	position: absolute;
  	left: 0px;
  	right: 0px;
  	top: 50px;
  	z-index: 1;
  	display: none;
}


.capsule2 {
	width: 480px;
	margin: auto;
	background-color: white;
	padding: 0px;
	border: solid 1px #424344;
	border-radius: 5px;
	margin-bottom:40px;
	box-shadow: 4px 4px 12px #444;
}


.OLDcard {
	width: 390px;
	margin: auto;
	background-color: white;
	padding: 5px 45px 20px 45px;
	border: solid 1px #424344;
	border-radius: 5px;
	margin-bottom:40px;
	box-shadow: 4px 4px 12px #444;
}


/*Margin by pixel:*/
@media screen and ( max-width: 500px ){
    .capsule {
        margin:0px 3% 12px 3%;
    }
    .detailsCard {
        margin:0px 3% 20px 3%;
    }
}
